#portfolio{
    margin-bottom: 6rem;
}

#portfolio h2{
    color: var(--main-color);
}

.projects{
    width: var(--width-desktop);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem auto 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 3rem;
}

.project{
    margin: 2rem 1rem;
    border: 1px solid var(--el-color);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: 400ms;
    position: relative;
}

.project .new{
    position: absolute;
    font-size: 1.25rem;
    width: 4rem;
    height: 4rem;
    left: -5%;
    top: -5%;
    background-color: var(--main-color);
    border-radius: 10px;
}

.project .inProgress{
    margin: 0;
    font-size: inherit;
    margin-left: .5rem;
    color: var(--main-color);
}

.project .title{
    display: flex;
}

.project .btn:hover{
    background-color: var(--second-color);
}

.project img{
    width: 100%;
    max-height: 21rem;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 1rem;
}

.img-container{
    display: flex;
    justify-content: center;
    height: 23rem;
}

.project p{
    width: 25vw;
    height: 30vh;
}

.project .tech{
    display: flex;
    gap: 1.5rem;
    margin-top: 5rem;
}

.project .tech .icon{
    width: 2rem;
    height: 2rem;
    padding: 0.65rem;
}

.project .tech .icon:hover{
    color: var(--main-color);
    
}

.project .buttons{
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}

.project .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    margin: 1.5rem 0 0 0;
}

.space{
    margin: 1.75rem 0;
}

/*-------------------------Mobile-------------------------*/

@media screen and (max-width: 600px){
    .projects{
        width: var(--width-mobile);
        display: flex;
        flex-direction: column;
    }
    .project{
        font-size: 1rem;
    }
    .project p{
        width: 75vw;
    }
    .project .buttons{
        flex-direction: column;
    }
    .project .btn{
        font-size: 0.9rem;
    }
    .img-container{
        height: fit-content;
    }
    .project p{
        height: fit-content;
    }
}

/*-------------------------Tablet-------------------------*/

@media screen and (min-width: 601px) and (max-width: 1024px){
    .projects{
        width: var(--width-tablet);
        display: flex;
        flex-direction: column;
    }
    .project{
        font-size: 1.2rem;
    }
    .project .btn{
        font-size: 1.4rem;
    }
    .project p{
        width: 55vw;
    }
    .img-container{
        height: fit-content;
    }
    .project p{
        height: fit-content;
    }
}